body {
    padding: 0;
    margin:0;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#gc{
    border-radius: 5px;
    box-shadow: 0 0 50px #5d2133;
}

#game__score{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 400px;
}

#game__score--title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}

#game__score--value{
    color: #00ffff;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

#game__score--maxTitle{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}

#game__score--maxValue{
    color: #00ffff;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}